@import url("@https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  background-size: cover;
  color: #090a0b;
  font-family:'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #242623;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #020202;
  font-size: 15px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #02030e;
  font-weight: 600;
  font-size: 20px;
}
a:hover {
  color: rgb(160, 15, 15);
}

.container {
  width: 500px;
  margin: 0 auto;
}
.profile {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;

}
div {
  display: block;
}

.pic-profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  border: 3px solid rgb(236, 232, 232);
}
.icons{
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.media-icons{
  padding-left: 0;
}
